<div class="app-home">
    <div class="row">

        <div class="col-xs-12">
            <h1>Company teams App {{ 'v%VERSION%' | versionInterpolate }}!</h1>
        </div>

        <div class="col-md-5 col-xs-12">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#">{{selectedTeam.collectionName}}</a></li>
                <li role="presentation"><a href="#">Profile</a></li>
            </ul>

        </div>

        <div class="col-md-6 col-md-offset-1 col-xs-12">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="newTeamName" placeholder="New team name...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="addTeam(newTeamName)">Add</button>
                </span>
            </div>
            <div class="panel-group" id="TeamsAccordion" role="tablist" aria-multiselectable="true">
                <uib-accordion close-others="oneAtATime">
                    <div uib-accordion-group is-open="team.isSelected" class="panel-default" heading="{{team.collectionName}}" ng-repeat="(key, team) in teams" >
                        <div class="list-group" ng-repeat="teamMember in team.members">
                            <div id="{{key}}">
                                {{teamMember.name}} <button class="btn btn-danger">Delete</button>
                            </div>

                        </div>
                    </div>
                </uib-accordion>
            </div>
        </div>
    </div>
    



</div>
