<div class="app-home">
    <div class="row">

        <div class="col-xs-12">
            <h1>Hello Awesome App {{ 'v%VERSION%' | versionInterpolate }}!</h1>
            <p>My skills are {{teamMember.getSkills().join(', ')}}</p>
        </div>

        <div class="col-md-5 col-xs-12">

            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#">Home</a></li>
                <li role="presentation"><a href="#">Profile</a></li>
            </ul>

        </div>

        <div class="col-md-6 col-md-offset-1 col-xs-12">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
            <div class="panel-group" id="TeamsAccordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default" ng-repeat="(key, team) in teams">
                    <div class="panel-heading" role="tab" id="#teamId_{{key}}">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#TeamsAccordion" href="" data-target="#teamId_{{key}}" aria-expanded="false" aria-controls="collapseOne">
                                {{team.collectionName}}
                            </a>
                        </h4>
                    </div>
                    <div id="#teamId_{{key}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="list-group" ng-repeat="teamMember in team.models">
                            <h5>{{teamMember.name}}</h5>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-controller="AccordionDemoCtrl">
                <label class="checkbox">
                    <input type="checkbox" ng-model="oneAtATime">
                    Open only one at a time
                </label>
                <accordion close-others="oneAtATime">
                    <accordion-group heading="Static Header">
                        This content is straight in the template.
                    </accordion-group>
                    <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
                        {{group.content}}
                    </accordion-group>
                    <accordion-group heading="Dynamic Body Content">
                        <p>The body of the accordion group grows to fit the contents</p>
                        <button class="btn btn-small" ng-click="addItem()">Add Item</button>
                        <div ng-repeat="item in items">{{item}}</div>
                    </accordion-group>
                </accordion>
            </div>
        </div>

    </div>
</div>
